[submodule "third_party/c_library_v2"]
	path = third_party/c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
